:root {
    --color-carbon-powder: #101211;
    --color-forest-green: #3b5e3b;
    --color-copper-herbal: #a64828;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #222222;
    font-family: Arial, Helvetica, sans-serif;
}

.container-xl {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-lg {
    max-width: 62rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-md {
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

img {
    width: 100%;
}

.article {
    margin-top: 6.4rem;
}

.article h1 {
    font-size: 6.4rem;
    line-height: 1;
    margin-bottom: 1.6rem;
    color: #111111;
}

.article h2 {
    font-size: 4.8rem;
    line-height: 5.4rem;
    margin-bottom: 1.6rem;
    margin-top: 4.8rem;
    color: #111111;
}

.article h3 {
    font-size: 3.2rem;
    line-height: 4.0rem;
    margin-bottom: 1.6rem;
    margin-top: 4.8rem;
    color: #111111;
}

.article h4 {
    font-size: 1.8rem;
    margin-bottom: 1.6rem;
    color: #111111;
}

.article p {
    margin-bottom: 1.6rem;
}

.article ul {
    margin-bottom: 1.6rem;
    margin-left: 3.2rem;
}

.article ol {
    margin-bottom: 1.6rem;
    margin-left: 3.2rem;
}

.article table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1.6rem;
}

.article th, td {
    border: 1px solid #ccc;
    padding: 0.8rem 1.6rem;
    text-align: left;
}

.listicle img {
    margin-bottom: 4.8rem;
}

header {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
}

header a {
    text-decoration: none;
    color: #222222;
}

footer {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    margin-top: 6.4rem;
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 1rem;
}

@media (max-width: 768px) {
    .grid-4 {
        grid-template-columns: 1fr;
    }
}

/*********************************************/
/* breadcrumbs.........................[brd] */
/*********************************************/
.breadcrumbs {
    padding-top: 2.4rem;
}

.breadcrumbs a {
    color: var(--color-carbon-powder);
    text-decoration: none;
}

